.button {
    font-size: 1em;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: #4F7302;
    color: #F2DCC9;
    min-width: 8rem;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    transition: 0.1s;
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #93BF50, 0 0 0 4px #4F7302 ;

}

.button:disabled {
    opacity: 0.5;
    cursor: wait;
}