.wrapper {
    margin-bottom: 1rem;

}

.input {
    border: 1px solid #eee;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background: #eee;
    transition: 0.2s;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: #4F7302;
    background: white;
    box-shadow: 0 0 0 2px #93BF50;
}

.label {
    display: block;
    font-size: 1rem;
    line-height: 1;
    padding-bottom: 0.5rem;
}

.erro {
    color: #D95043;
    font-weight: bold;
    font-size: .875rem;
    margin-top: .25rem;
}